.navbar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  font-size: 1.8rem;
  padding: 50px 0 0 0;
  z-index: 5;
  left: 0;
  top: 25%;
}

.navbar--btn {
  /* border: red 1px solid; */
  padding: 30px;
  display: block;
  width: 200px;
  height: 100%;
  background-color: lightblue;
  border-radius: 5px;
  color: #201f26;
  margin-bottom: 20px;
}

.navbar--btn-activities {
  background-color: #c7dfc5;
}

.navbar--btn-calendar {
  background-color: #a6808c;
}

.navbar--btn-chores {
  background-color: #ef959d;
}

.navbar--btn-homework {
  background-color: #fcddbc;
}

@media (max-width: 980px) {
  .navbar {
    font-size: 1.5rem;
    top: 87%;
    left: -7%;
    flex-direction: row;
    position: fixed;
  }

  .navbar--btn {
    margin-bottom: 0;
    width: 120px;
    font-size: 1.2rem;
    padding: 0;
    height: 50px;
    padding-top: 14px;
    /* position: fixed; */
  }
}

@media (max-width: 360px) {
  .navbar--btn {
    top: 94%;
    width: 87px;
    font-size: 1rem;
    border-radius: 0;
  }

  .navbar {
    margin: -36px;
    left: -4%;
  }
}
