.header--time {
  font-size: 1.5rem;
  margin-bottom: -10px;
  color: #373737;
}

.header--time span {
  font-weight: 700;
}
#header--heading {
  font-size: 5rem;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 1.5rem;
  color: #7a7a7a;
}

.header--headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 360px) {
  #header--heading {
    font-size: 1.8rem;
  }
  .ui.basic.button {
    width: 77px;
    height: 40px;
    font-size: 0.8rem;
    margin: 2px 0;
  }
  .header--time {
    font-size: 0.8rem;
  }
  .header--headingContainer {
    margin: 1rem 0 0 0;
  }
}

@media (max-width: 1118px) {
  #header--heading {
    font-size: 4rem;
  }
}
@media (max-width: 996px) {
  #header--heading {
    font-size: 3rem;
  }
}
