.profile {
  display: flex;
  justify-content: center;
}
#image-uploader {
  display: none;
}
#settings {
  margin-top: 20px 0 20px;
}
.setting {
  display: flex;
  margin: 20px;
}
.setting-button {
  position: absolute;
  left: 70%;
  width: 74px;
  height: 28px;
  border-radius: 1px;
}
.ctn {
  display: none;
  position: absolute;
  margin-left: 14.68%;
}
.setting-button:hover {
  cursor: pointer;
}
.info-data_username {
  margin-left: 10px;
}
.info-data_email {
  margin-left: 40px;
}
.info-label_password {
  margin-left: 10px;
}
.input-control {
  padding: 6px;
  width: 245px;
  margin: 5px;
  border-radius: 5px
}
.inputs-wrap--big {
  margin-top: 24px;
}
.error {
  position: absolute;
  left: 34%;
  color: red;
}
.inputs-wrap--small {
  margin-top: 14px;
}
.reset-password {
}
.password {
}
.ctn-btn {
  width: 74px;
  height: 28px;
  margin: 5px;
  border-radius: 1px;
}
.ctn-wrap {
  margin-left: 84px;
}
.form-wrap--big {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  position: absolute;
  top: 314px;
  left: 53%;
  width: 330px;
  height: 203px;
  z-index: 1;
}
.form-wrap--small {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  position: absolute;
  top: 314px;
  left: 53%;
  width: 330px;
  height: 100px;
  z-index: 1;
}
