.profile {
  display: flex;
  justify-content: center;
}
#image-uploader {
  display: none;
}
#settings {
  margin-top: 20px 0 20px;
}
.setting {
  display: flex;
  margin: 20px;
}
.setting-button {
  position: absolute;
  left: 70%;  
}
.ctn {
  display: none;
  position: absolute;
  margin-left: 14.68%;
}
.setting-button:hover {
  cursor: pointer;
}
.info-data_username {
  margin-left: 10px;
}
.info-data_email {
  margin-left: 40px;
}
.info-label_password {
  margin-left: 10px;
}
.input-control {
  padding: 6px;
  width: 245px;
  margin: 5px;
}
.reset-password {

}
.password {

}

.form-wrap--big {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  position: absolute;
  width: 330px;
  height: 203px;
}
.form-wrap--small {
  width: 23%;
  left: 50%;
  background-color: #fff;
}