.profile {
  display: flex;
  justify-content: center;
}
#settings {
  margin-top: 20px 0 20px;
}
.setting {
  display: flex;
  margin: 20px;
}
.setting-button {
  position: absolute;
  left: 70%;
}
.info-data_username {
    margin-left: 10px;
}
.info-data_email {
    margin-left: 40px;
}

.info-label_password {
  margin-left: 10px;
}
.input {
  display: none;
  position: absolute;
  margin-left: 90px;
}
.reset-password {
  display: none;
  flex-direction: column;
  position: absolute;
  margin: 34px 0 0 90px;
}
.password {
  margin-top: 10px;
  padding: 5px;
}